<h1>Private Information</h1>
<p>Find me in app/views/visitors/private_content.html.erb</p>
<div class='well text-center'>
  <p><%= image_tag current_user.document.signature %></p>
  <p>Terms and Conditions accepted on <%= current_user.document.signed_on %></p>
</div>
